body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-between;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.nomeSobrenome {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

#radioFamily {
  display: flex;
  flex-flow: row wrap;
  width: 85px;
  height: 80px;
}
